 /* Styles généraux pour le corps de la page */
 body {
   font-family: 'Lato', sans-serif;
   color: #f1f1f1;
   min-width: 1000px;
   margin: 0;
   padding: 0;
   position: relative;
   min-height: 100vh;
   background-image: url('path/to/your/image/fond_tech.jpg');
 }

 /* Styles pour les éléments de la grille */
 .row,
 .column,
 .casse,
 .columne {
   position: relative;
   float: left;
   margin: 2.5%;
 }

 /* Styles spécifiques pour les lignes */
 .row {
   width: 95%;
   height: 50px;
 }

 /* Styles spécifiques pour les colonnes */
 .column,
 .casse,
 .columne {
   width: 14.8%;
 }



 /* Styles spécifiques pour l'élément 'columne' */
 .columne {
   height: 125px;
 }

 .casse {
   height: 10px;
 }

 /* Styles pour les liens */
 a {
   text-decoration: none;
   color: #f1f1f1;
 }

 /* Effets au survol des éléments */
 .row:hover span,
 .column:hover,
 .columne:hover,
 .casse:hover {
   font-size: 15px;
   transition: font-size 0.3s ease;
 }

 /* Styles pour le pied de page */
 footer {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #00011f;
   color: white;
   text-align: left;
   padding: 1rem;
 }

 /* Styles pour le titre principal */
 h1 {
   width: 100%;
   position: absolute;
   background: #0b0c4e;
   padding: 8px;
   line-height: 1em;
   top: 0;
   font-size: 2em;
   font-weight: 200;
   text-transform: uppercase;
   text-align: center;
   margin-left: -8px;
   box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
 }

 /* Styles pour les pseudo-éléments avant et après le titre */
 h1:before,
 h1:after {
   position: absolute;
   display: block;
   width: 12px;
   height: 12px;
   content: " ";
   transform: rotate(-45deg);
   z-index: -1;
   bottom: -6px;
 }

 .footer-links {
   display: flex;
   justify-content: space-between;
   /* Espace entre les liens */
   align-items: center;
   /* Centrage vertical */
   padding: 1rem;
 }

 .left-link {
   flex: 1;
   /* Prend l'espace disponible */
   text-align: left;
   /* Alignement à gauche */
 }

 .center-link {
   flex: 1;
   /* Prend l'espace disponible */
   text-align: center;
   /* Alignement au centre */
 }





 /* Styles spécifiques pour le pseudo-élément avant du titre */
 h1:before {
   left: 3px;
   background: linear-gradient(135deg, #282be2 0%, rgba(0, 0, 0, 1) 100%);
 }

 /* Styles spécifiques pour le pseudo-élément après du titre */
 h1:after {
   background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, #282be2 100%);
   right: 2px;
 }

 html {
   background-image: url('C:/Users/kouirih/Documents/projet portefolio kouiri hamza/image/fond tech.jpg');
   background-attachment: fixed;
   background-position: center;
   background-size: cover;

 }